#new_transaction.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					Add/Subtract Money
			= form_for AllowanceTransaction.new, url: main_app.allowance_admin_index_path do |f|
				.modal-body
					.row
						.col-sm-8
							= f.label :title
							= f.text_field :title, class: 'form-control'
						.col-sm-4

							= f.label :amount
							.input-group
								%span.input-group-addon
									$
								= f.text_field :amount, class: 'form-control'
					.row
						.col-sm-12
							= f.label :notes
							= f.text_area :notes, class: 'form-control'
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create', class: 'btn btn-primary'