
.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', swell_media.admin_index_path
				%li
					%strong
						Art Admin
						= "(#{pluralize @art.total_count, 'Art Work'})"

		.col-xs-2
			%a.btn.btn-success{ data: { toggle: :modal, target: '#new_art' } }
				%i.fa.fa-plus-square
				New
	.row
		.col-xs-6
			= raw paginate @art
		.col-xs-6
			= form_tag art_admin_index_path, method: :get, class: 'pull-right form-inline' do
				= select_tag :status, options_from_collection_for_select( Art.statuses, :first, :first, params[:status] ), { prompt: "-- All --", class: 'form-control' }
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', art_admin_index_path, class: 'btn btn-default btn-xs'

	.row
		.col-xs-12
			%table.table
				%thead
					%th
					%th
						Title
						%a{ href: art_admin_index_path( sort_by: 'title', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: art_admin_index_path( sort_by: 'title', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					
					%th
						Publish
						%a{ href: art_admin_index_path( sort_by: 'publish_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: art_admin_index_path( sort_by: 'publish_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down

					%th Status
					%th Category
					%th Tags
					%th
				%tbody
					- @art.each do |art|
						%tr
							%td
								= image_tag art.avatar.to_s, width: 50, class: 'img img-rounded'
							%td
								= link_to art.title, edit_art_admin_path( art.id )
								%br
								= art.path
							%td
								= art.publish_at.to_s( :slashed_time )

							%td
								- if art.published?
									.badge{ class: art.status }
										Live
								- elsif art.draft?
									.badge{ class: art.status }
										Draft
								- elsif art.active?
									.badge{ class: 'pending' }
										Pending
								- else
									.badge{ class: art.status }
										= art.status
							%td
								= art.category.try( :name ) || 'None'
							%td
								= art.tags.join(', ')
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: edit_art_admin_path( art.id ) }
												%i.fa.fa-pencil
												Edit
										
										%li
											%a{ href: preview_art_admin_path( art.id ) }
												%i.fa.fa-eye
												Preview
										%li.divider
										%li
											%a{ href: art_admin_path( art ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!

- if Art.trash.present?
	.pull-right{ style: 'margin-right:2em;' }
		%a{ href: empty_trash_art_admin_index_path, data: { method: 'delete', confirm: 'Are you sure?' } }
			%btn.btn.btn-danger
				empty trash

= render 'new_modal'